[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ryu = "*"
scikit-learn = "*"
eventlet = "==0.30.2"
pandas = "*"

[dev-packages]

[requires]
python_version = "3.9"
